@font-face {
font-family: 'Proxima Nova Thin';
src: url('ProximaNovaT-Thin.eot');
src: url('ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
url('ProximaNovaT-Thin.woff') format('woff'),
url('ProximaNovaT-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
body
{
	margin: 0;
	padding: 0;
	font-family: Proxima nova thin;
	
}
header {
  background: url('video.png');
  background-size: cover;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}
.container
{
 
	max-width: 1080px;
	margin: 0 auto;
	
}
.logo
{
	float: left;

}
.heding
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	background-color: black;
	opacity: 0.7;
	z-index: -9998;
}
.logo 
 {
 	margin-right:  150px;
 }

{
	float:right;
}
ol, ul
  {
	list-style: none;
  }
* {
		margin: 0;
		padding: 0;
		outline: none;

		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
   }

a, a:hover 
	{
		text-decoration: none;
	}


.clearfix:before,
.clearfix:after 
{
	content: " ";
	display: table;
}
.clearfix:after
 {
 	clear: both;
 }

.left 
{
	float:left;
}
.right 
{
	float:right;
}
.text-right 
{
	text-align: right;
}

.container
{
	max-width: 1080px;
	margin: 0 auto;
}

.nav,
#touch-menu 
{
	
}
.nav li 
{
	float: left;
}
.nav li a,
#touch-menu 
{
	display: block;
	padding: 20px 15px;
	font-weight: bold;
	font-size: 14pt;
	color: white;
}
.nav li a:hover,
#touch-menu:hover 
{
	color: yellow;
}

#touch-menu 
{
	display: none;
}

@media (max-width: 768px)
 {
	.nav
	{
		display: none;
	}
	.nav li
	 {
	 	float: none;
	 }
	.nav li a
	 {
		border-top: 1px solid #eee;
		border-left: 3px solid transparent;
		background: #fff;
		color: #666;
	}
	.nav li:first-child a 
	{
		border-top: none;
	}
	.nav li a:hover
	 {
		background: #f0f0f0;
		color: #444;
		border-left: 3px solid #515572;
	}
	#touch-menu
	 {
	 	display: block;
	 	margin-left: 20px;
	 }
}
h1
{
	font-size: 80px;
	color:white;
	padding: 0;
	padding-top: 240px;
	margin: 0;
	text-align: center;
	padding-bottom: 400px;

}
header h2
{
	font-size: 25px;
	color:white;
	padding: 0;
	text-transform: uppercase;
	margin: 0;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}

.muve
{
	background-color: white;
	height: 650px;

}
.muve h2
{
    font-size: 25px;
	color:black;
	padding: 0;
	text-transform: uppercase;
	margin: 0;
	padding-top: 20px;
	text-align: center;
}

.all
{
margin-top: 27px;
margin-bottom: 27px;
height: 100%;
width: 100%;
padding-bottom: 30px;
}
.allf
{

margin-bottom: 20px;
height: 260px;
width: 50%;
float: left;
text-align: center;
}
.allf img
{
width:  70%;
height:  260px;
}

.allf h2
{
    font-size: 25px;
	color:black;
	padding: 0;
	text-transform: uppercase;
	margin: 0;
	padding-top: 20px;
	text-align: center;
	
}

footer
{
	background:black;
	
}
.muve2
{
	background-color: #0f2178;
	height: 360px;
}
.muve2 h2
{
    font-size: 25px;
	color:white;
	padding: 0;
	text-transform: uppercase;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.vntu img
{
	padding-top: 20px;
	width: 40%;
	height: 500px;
	margin:auto;
	display: block;
}

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-box-sizing: border-box;
@media (max-width: 760px)
{
.allf
{
	width: 100%;

}
}